/* Media Queries */
@media (max-width: 500px){
    .nav-bar{
        height: 110px;
    }
    .nav-bar .flex, 
    div.snapshot-box-content,
    div.footer-input
    {
        flex-direction: column;
    }
    nav .nav-links{
        margin-top: 10px;
    }

     div.hero-section,
     div.hero-background{
        padding: 5rem;
    }

    div.background{
        height: 300px;
    }
    div.background h4{
        padding: 1rem;
    }
    div.background p{
        padding-left: 0rem;
    }
    div.hero-background-pos{
        left: 60%;
    }
    input[type = "text"], input[type = "email"]{
        margin: 1rem;
        width: 50%;
    }
    
} 